<section class="alt-sections py-c">
  <div class="container">
    {{ range .Params.altSections }}
    <div class="row align-items-ceksnter justify-content-between mb-5">
      <div class="col-md-6">
        <img src="{{ .image | relURL }}" 
             alt="{{ .alt }}" 
             class="img-fluid rounded shadow-lg">
      </div>
      <div class="col-md-5">
        <h2>{{ .title }}</h2>
        <h3>{{ .subtitle }}</h3>
        <p>{{ .description | markdownify }}</p>
        {{ with .button }}
          <a href="{{ .link }}" class="btn btn-primary">{{ .text }}</a>
        {{ end }}
      </div>
    </div>
    {{ end }}
  </div>
</section>
