<section class="four-col-layout py-5">
    <div class="container">
        <h1 class="text-center mb-4">{{ page.Title }}</h1>
        <!-- <hr> -->
        <div class="row text-center justify-content-center">
            {{ range .data }}
            <div class="col-6 col-md-2 mb-4">
                <div class="card h-100">
                    <div class="card-img-top pt-3">
                        {{ with .icon }}
                        <i class="{{ . }} fa-3x text-primary"></i>
                        {{ end }}
                        {{ with .image }}
                        <img src="{{ . }}" alt="{{ $.alt }}" class="card-img-top">
                        {{ end }}
                    </div>
                    <div class="card-body">
                        <h6 class="fw-semibold">{{ .title }}</h6>
                        <p>{{ .description }}</p>
                    </div>
                    <div class="card-footer">
                        {{ with .button }}
                            <a href="{{ .link }}" class="btn btn-primary">{{ .text }}</a>
                        {{ end }}
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>