{{- /*
Renders a menu for the given menu ID.

@context {page} page The current page.
@context {string} menuID The menu ID.

@example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
*/}}

{{- $page := .page }}
{{- $menuID := .menuID }}

<nav class="navbar navbar-expand-lg navbar-light fixed-top p-0">
  <div class="container px-md-0">
    <a class="navbar-brand" href="/">
      <img class="" src="/images/ESPeople-logo.png" alt="ESPeople logo" title="ESPeople logo">
      <!-- <div class="brand-name">
        <h2 class="brand mb-0">ESPeople</h2>
        <p class="tagline mb-0">TrainingSmiths</p>
      </div> -->
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse px-4 px-lg-0" id="navbarNav">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 gap-3">
        {{- with index site.Menus $menuID }}
        {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
        {{- end }}
      </ul>
      <div class="d-flex align-items-center ms-3 d-none">
        <p class="mb-0 me-3"><i class="fa-solid fa-mobile-screen-button me-2"></i><a
            href="tel:+919962006364">9962006364</a></p>
        <p class="mb-0"><i class="fa-regular fa-envelope me-2"></i><a
            href="mailto:link2rmd@gmail.com">link2rmd@gmail.com</a></p>
      </div>
    </div>
  </div>
</nav>

<!-- Add this script at the end of your page or in a JS file -->
<script>
  document.addEventListener('click', function(event) {
    var navbarToggler = document.querySelector('.navbar-toggler');
    var navbarCollapse = document.querySelector('#navbarNav');
    
    if (navbarCollapse.classList.contains('show') && !navbarCollapse.contains(event.target) && !navbarToggler.contains(event.target)) {
      navbarToggler.click(); // Closes the navbar if an outside click is detected
    }
  });
</script>

{{ define "main" }}
<h1>this page renders all the single page content within thin the content folder </h1>
  {{ .Content }}
  {{ range site.RegularPages }}
    <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
    {{ .Summary }}
  {{ end }}
{{ end }}


<!-- seccess stories section -->
<!-- <section class="section-template py-c">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-md-6 order-md-2">
        <img src="{{ .Params.twoColLayout.image | relURL }}" 
             alt="{{ .Params.twoColLayout.alt }}" 
             class="img-fluid rounded shadow-lg">
    </div>
      <div class="col-md-5 ">
        <h2>{{ .Params.twoColLayout.title }}</h2>
        <p>{{ .Params.twoColLayout.description | markdownify }}</p>
        <a href="{{ .Params.twoColLayout.button.link }}" 
           class="btn btn-primary">{{ .Params.twoColLayout.button.text }}</a>
      </div>
    </div>
  </div>
</section> -->


<!-- {{ define "main" }}
  <h1 class="text-danger">{{ .Title }}</h1>
  <h2>Single page content</h2>

  {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $dateHuman := .Date | time.Format ":date_long" }}
  <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>

  {{ .Content }}
  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
{{ end }} -->




  [[menu.main]]
    name = "Success Stories"
    url = "/success-stories/"
    weight = 2

  [[menu.main]]
    name = "About Us"
    url = "/about-us/"
    weight = 3

  [[menu.main]]
    name = "Our Work"
    url = "/our-work/"
    weight = 4
    
  [[menu.main]]
    name = "Reports"
    identifier = "reports"
    url = "#"
    weight = 5

    [[menu.main]]
      parent = "reports"
      name = "Audit Reports"
      url = "/audit-report/"
      weight = 1

    [[menu.main]]
      parent = "reports"
      name = "Annual Reports"
      url = "/annual-report/"
      weight = 2

  [[menu.main]]
    name = "Contact Us"
    url = "/contact-us/"
    weight = 6

  [[menu.main]]
    name = "Get Involved"
    url = "/volunteer/"
    weight = 9
    params = { class = "btn btn-primary text-light" }
