{{ define "main" }}
<!-- carousel hero -->
<div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    {{ range $index, $slide := .Params.carousel }}
      <div class="carousel-item {{ if eq $index 0 }}active{{ end }}">
        <img src="{{ $slide.src | relURL }}" class="d-block w-100" alt="{{ $slide.alt }}">
        <div class="carousel-caption  ">
          <h1 class="fw-bold">{{ $slide.title }}</h1>
          <p class="lead">{{ $slide.description }}</p>
          <a href="{{ $slide.button.link }}" class="btn btn-primary btn-lg">{{ $slide.button.text }}</a>
        </div>
      </div>
    {{ end }}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#heroCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#heroCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

    {{ partial "alt-sections.html" . }}
    

{{ partial "three-col-layout.html" (dict "context" . "title" "Our Stats" "data" .Params.threeColLayoutStats) }}
{{ partial "three-col-layout.html" (dict "context" . "title" "Our Current Focus" "data" .Params.threeColLayoutFocus) }}
{{ partial "three-col-layout.html" (dict "context" . "title" "Testimonials" "data" .Params.testimonials) }}




{{ end }}
